pandas==2.0.3
numpy==1.24.4
transformers==4.31.0
sentence-transformers==2.2.2
sentencepiece==0.1.99
chardet==5.2.0
faiss==1.6.5
matplotlib==3.7.3
python-terrier==0.9.2
pyterrier_pisa==0.0.6
latex==0.7.0
GitPython==3.1.32
npids==0.0.2
trl==0.7.4
openpyxl==3.1.2
wandb==0.16.3
jsonlines==4.0.0